.App {
  max-width: 860px;
  margin: 3em auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: center;
}
button {
  background: none;
  display: inline-block;
  border: 2px solid #ffeeee;
  padding: 6px 12px;
  border-radius: 4px;
  color: #ffeeee;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: rgb(240, 84, 110);
  color: #fff;
  border: salmon 2px solid;
}

.card-grid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1em;
}
