@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: linear-gradient(
    45deg,
    hsla(270, 94%, 25%, 1) 11%,
    hsla(158, 94%, 49%, 1) 91%
  );
  color: #ffeeee;
}
