@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  text-align: center;
  background-image: linear-gradient(to top, #40047c, #07f29c);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: #ffeeee;
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 1em;
  }
}
